@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
/* line 74, ../components/sass/base/_defaults.scss */
html {
  background: #fff;
  color: #484c55; }

/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 106, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/* line 26, ../components/sass/base/_typography.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* line 5, ../components/sass/modules/_forms.scss */
label, legend, select {
  display: block; }

/* line 9, ../components/sass/modules/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 14, ../components/sass/modules/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 20, ../components/sass/modules/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer; }

/* line 29, ../components/sass/modules/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

/* line 39, ../components/sass/modules/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */ }

/* line 44, ../components/sass/modules/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/* line 5, ../components/sass/modules/_buttons.scss */
button {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 600;
  cursor: pointer;
  background-color: #bf4080;
  color: rgba(255, 255, 255, 0.75);
  border: 0 !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  /* line 19, ../components/sass/modules/_buttons.scss */
  button:hover {
    background-color: #b43c78;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease; }
  /* line 23, ../components/sass/modules/_buttons.scss */
  button:focus {
    outline: none; }
  /* line 28, ../components/sass/modules/_buttons.scss */
  button.btn--disabled {
    background-color: #cc6699;
    cursor: not-allowed;
    pointer-evetns: none; }
    /* line 32, ../components/sass/modules/_buttons.scss */
    button.btn--disabled:hover {
      background-color: #cc6699; }
  /* line 36, ../components/sass/modules/_buttons.scss */
  button.btn--xs {
    padding: 1px 5px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 24px;
    line-height: 1.5rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  /* line 41, ../components/sass/modules/_buttons.scss */
  button.btn--sm {
    padding: 6px 9px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 24px;
    line-height: 1.5rem;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  /* line 46, ../components/sass/modules/_buttons.scss */
  button.btn--lg {
    padding: 18px 27px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  /* line 51, ../components/sass/modules/_buttons.scss */
  button.btn--full {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 18px 27px; }

/* line 61, ../components/sass/modules/_buttons.scss */
.btn--group {
  display: inline-block; }
  /* line 63, ../components/sass/modules/_buttons.scss */
  .btn--group button:first-child {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  /* line 66, ../components/sass/modules/_buttons.scss */
  .btn--group button {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    float: left; }
  /* line 70, ../components/sass/modules/_buttons.scss */
  .btn--group button:last-child {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px; }

/* line 1, ../components/sass/modules/_links.scss */
a {
  color: #c69;
  text-decoration: none; }
  /* line 5, ../components/sass/modules/_links.scss */
  a:hover {
    color: #036; }
  /* line 8, ../components/sass/modules/_links.scss */
  a:visited {
    color: #b37399; }

/* line 6, ../components/sass/modules/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #808c99; }

/* line 12, ../components/sass/modules/_headings.scss */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 48px;
  line-height: 3rem; }
  /* line 15, ../components/sass/modules/_headings.scss */
  h1.section {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 48px;
    line-height: 3rem;
    font-weight: 600;
    color: #699;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    @media (min-width: 48em) {
      /* line 15, ../components/sass/modules/_headings.scss */
      h1.section {
        font-size: 64px;
        font-size: 4rem;
        line-height: 72px;
        line-height: 4.5rem;
        border-bottom: none; } }

/* line 26, ../components/sass/modules/_headings.scss */
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem; }

/* line 29, ../components/sass/modules/_headings.scss */
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem; }

/* line 33, ../components/sass/modules/_headings.scss */
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* line 37, ../components/sass/modules/_headings.scss */
h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* line 41, ../components/sass/modules/_headings.scss */
h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* line 5, ../components/sass/modules/_paragraphs.scss */
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 300;
  color: #484c55;
  margin: 0 0 10.5px; }

/* line 16, ../components/sass/modules/_paragraphs.scss */
small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* line 20, ../components/sass/modules/_paragraphs.scss */
em, i, cite, q {
  font-style: italic; }

/* line 24, ../components/sass/modules/_paragraphs.scss */
strong, b {
  font-weight: 600; }

/* line 28, ../components/sass/modules/_paragraphs.scss */
q {
  font-style: italic; }

/* line 32, ../components/sass/modules/_paragraphs.scss */
.blockquote,
blockquote {
  border-left: 5px solid #dadbdf;
  padding: 10.5px 21px; }
  /* line 36, ../components/sass/modules/_paragraphs.scss */
  .blockquote small,
  blockquote small {
    color: #858b98; }
    /* line 38, ../components/sass/modules/_paragraphs.scss */
    .blockquote small:before,
    blockquote small:before {
      content: '\2014 \00A0'; }

/* line 44, ../components/sass/modules/_paragraphs.scss */
.blockquote--right {
  border-left: 0;
  border-right: 5px solid #dadbdf;
  padding: 10.5 15px;
  text-align: right; }
  /* line 51, ../components/sass/modules/_paragraphs.scss */
  .blockquote--right small:before {
    content: ''; }
  /* line 54, ../components/sass/modules/_paragraphs.scss */
  .blockquote--right small:after {
    content: '\00A0 \2014'; }

/* line 64, ../components/sass/modules/_paragraphs.scss */
abbr {
  border-bottom: 1px dotted #808c99; }

/* line 5, ../components/sass/modules/_images.scss */
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

/* line 6, ../components/sass/modules/_lists.scss */
li > ul,
li > ol {
  margin-bottom: 0; }

/* line 66, ../components/sass/layout/_grid.scss */
.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 64em) {
    /* line 66, ../components/sass/layout/_grid.scss */
    .wrap {
      max-width: 64em;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
      .wrap:after {
        content: " ";
        display: block;
        clear: both; } }

/* line 5, ../components/sass/layout/_header.scss */
header {
  background: #c69;
  text-align: center;
  overflow: hidden;
  padding: 2rem 0;
  margin-bottom: 3.44828%;
  border-bottom: 0.5em solid #aa628d; }
  /* line 13, ../components/sass/layout/_header.scss */
  header .title {
    color: #fff;
    font-size: 64px;
    font-size: 4rem;
    line-height: 72px;
    line-height: 4.5rem;
    font-weight: 700;
    text-shadow: 1.47209px 1.63492px 0 #aa628d, 2.94417px 3.26984px 0 #aa628d, 4.41626px 4.90476px 0 #aa628d, 5.88835px 6.53967px 0 #a9628c, 7.36044px 8.17459px 0 #aa628d, 8.83252px 9.80951px 0 #a9618d, 10.30461px 11.44443px 0 #aa628d, 11.7767px 13.07935px 0 #a9628d, 13.24879px 14.71427px 0 #aa628d, 14.72087px 16.34919px 0 #aa628d, 16.19296px 17.9841px 0 #aa628d, 17.66505px 19.61902px 0 #aa628d, 19.13714px 21.25394px 0 #aa628d, 20.60922px 22.88886px 0 #aa628d, 22.08131px 24.52378px 0 #aa628d, 23.5534px 26.1587px 0 #aa628d, 25.02548px 27.79362px 0 #aa628d, 26.49757px 29.42854px 0 #aa628d, 27.96966px 31.06345px 0 #aa628d, 29.44175px 32.69837px 0 #aa628d, 30.91383px 34.33329px 0 #aa628d, 32.38592px 35.96821px 0 #aa628d, 33.85801px 37.60313px 0 #aa628d, 35.3301px 39.23805px 0 #aa628d, 36.80218px 40.87297px 0 #aa628d, 38.27427px 42.50788px 0 #aa628d, 39.74636px 44.1428px 0 #aa628d, 41.21845px 45.77772px 0 #aa628d, 42.69053px 47.41264px 0 #aa628d, 44.16262px 49.04756px 0 #aa628d, 45.63471px 50.68248px 0 #aa618d, 47.10679px 52.3174px 0 #aa628d, 48.57888px 53.95231px 0 #aa628d, 50.05097px 55.58723px 0 #aa628d, 51.52306px 57.22215px 0 #aa628d, 52.99514px 58.85707px 0 #aa628d, 54.46723px 60.49199px 0 #aa628d, 55.93932px 62.12691px 0 #aa628d, 57.41141px 63.76183px 0 #aa628d, 58.88349px 65.39674px 0 #aa628d, 60.35558px 67.03166px 0 #aa628d, 61.82767px 68.66658px 0 #aa628d, 63.29976px 70.3015px 0 #aa628d, 64.77184px 71.93642px 0 #aa628d, 66.24393px 73.57134px 0 #aa628d, 67.71602px 75.20626px 0 #aa628d, 69.1881px 76.84117px 0 #aa628d, 70.66019px 78.47609px 0 #aa628d, 72.13228px 80.11101px 0 #aa628d, 73.60437px 81.74593px 0 #aa628d, 75.07645px 83.38085px 0 #aa628d, 76.54854px 85.01577px 0 #aa628d, 78.02063px 86.65069px 0 #aa628d, 79.49272px 88.28561px 0 #aa628d, 80.9648px 89.92052px 0 #aa628d, 82.43689px 91.55544px 0 #aa628d, 83.90898px 93.19036px 0 #aa628d, 85.38107px 94.82528px 0 #aa628d, 86.85315px 96.4602px 0 #aa628d, 88.32524px 98.09512px 0 #aa628d, 89.79733px 99.73004px 0 #aa628d, 91.26941px 101.36495px 0 #aa628d, 92.7415px 102.99987px 0 #aa628d, 94.21359px 104.63479px 0 #aa628d, 95.68568px 106.26971px 0 #aa628d, 97.15776px 107.90463px 0 #aa628d, 98.62985px 109.53955px 0 #aa628d, 100.10194px 111.17447px 0 #aa628d, 101.57403px 112.80938px 0 #aa628d, 103.04611px 114.4443px 0 #aa628d, 104.5182px 116.07922px 0 #aa628d, 105.99029px 117.71414px 0 #aa628d, 107.46238px 119.34906px 0 #aa628d, 108.93446px 120.98398px 0 #aa628d, 110.40655px 122.6189px 0 #aa628d, 111.87864px 124.25381px 0 #aa628d, 113.35072px 125.88873px 0 #aa628d, 114.82281px 127.52365px 0 #aa628d, 116.2949px 129.15857px 0 #aa628d, 117.76699px 130.79349px 0 #aa628d, 119.23907px 132.42841px 0 #aa628d, 120.71116px 134.06333px 0 #aa628d, 122.18325px 135.69825px 0 #aa628d, 123.65534px 137.33316px 0 #aa628d, 125.12742px 138.96808px 0 #aa628d, 126.59951px 140.603px 0 #aa628d, 128.0716px 142.23792px 0 #aa628d, 129.54369px 143.87284px 0 #aa628d, 131.01577px 145.50776px 0 #aa628d, 132.48786px 147.14268px 0 #aa628d, 133.95995px 148.77759px 0 #aa628d, 135.43203px 150.41251px 0 #aa628d, 136.90412px 152.04743px 0 #aa628d, 138.37621px 153.68235px 0 #aa628d, 139.8483px 155.31727px 0 #aa628d, 141.32038px 156.95219px 0 #aa628d, 142.79247px 158.58711px 0 #aa628d, 144.26456px 160.22202px 0 #aa628d, 145.73665px 161.85694px 0 #aa628d, 147.20873px 163.49186px 0 #aa628d; }
    @media (min-width: 48em) {
      /* line 13, ../components/sass/layout/_header.scss */
      header .title {
        font-size: 96px;
        font-size: 6rem;
        line-height: 108px;
        line-height: 6.75rem; } }

/* line 5, ../components/sass/layout/_footer.scss */
footer {
  background: #dadbdf;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem; }

/* line 5, ../components/sass/layout/_content.scss */
.wrap {
  padding: 0 3.44828%; }

/* line 9, ../components/sass/layout/_content.scss */
.typography {
  margin-bottom: 7.14286%; }
  @media (min-width: 48em) {
    /* line 9, ../components/sass/layout/_content.scss */
    .typography {
      margin-bottom: 3.44828%; } }
  /* line 14, ../components/sass/layout/_content.scss */
  .typography .header {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.9em; }
    @media (min-width: 48em) {
      /* line 14, ../components/sass/layout/_content.scss */
      .typography .header {
        padding-bottom: 2.2em; } }
  /* line 21, ../components/sass/layout/_content.scss */
  .typography .headings {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3.44828%; }
    @media (min-width: 48em) {
      /* line 21, ../components/sass/layout/_content.scss */
      .typography .headings {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        margin-bottom: 0; } }
  /* line 29, ../components/sass/layout/_content.scss */
  .typography .text {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3.44828%; }
    @media (min-width: 48em) {
      /* line 29, ../components/sass/layout/_content.scss */
      .typography .text {
        width: 49.15254%;
        float: right;
        margin-right: 0;
        margin-bottom: 0; } }
  /* line 38, ../components/sass/layout/_content.scss */
  .typography .blockquotes > .header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  /* line 41, ../components/sass/layout/_content.scss */
  .typography .blockquotes .left {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3.44828%; }
    @media (min-width: 48em) {
      /* line 41, ../components/sass/layout/_content.scss */
      .typography .blockquotes .left {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        margin-bottom: 0; } }
  /* line 49, ../components/sass/layout/_content.scss */
  .typography .blockquotes .right {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 48em) {
      /* line 49, ../components/sass/layout/_content.scss */
      .typography .blockquotes .right {
        width: 49.15254%;
        float: right;
        margin-right: 0; } }

/* line 58, ../components/sass/layout/_content.scss */
.buttons {
  margin-bottom: 3.44828%; }
  /* line 60, ../components/sass/layout/_content.scss */
  .buttons .header {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1.5em; }
    @media (min-width: 48em) {
      /* line 60, ../components/sass/layout/_content.scss */
      .buttons .header {
        padding-bottom: 2.6em; } }
  /* line 67, ../components/sass/layout/_content.scss */
  .buttons .types {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 48em) {
      /* line 67, ../components/sass/layout/_content.scss */
      .buttons .types {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%; } }
  /* line 73, ../components/sass/layout/_content.scss */
  .buttons .blocks {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 48em) {
      /* line 73, ../components/sass/layout/_content.scss */
      .buttons .blocks {
        width: 49.15254%;
        float: right;
        margin-right: 0; } }

/* line 5, ../components/sass/layout/_sidebar.scss */
aside {
  -moz-transition: max-width 0.4s ease-in-out;
  -o-transition: max-width 0.4s ease-in-out;
  -webkit-transition: max-width 0.4s ease-in-out;
  transition: max-width 0.4s ease-in-out; }
  /* line 7, ../components/sass/layout/_sidebar.scss */
  aside .sidebar-inner {
    *zoom: 1;
    margin-bottom: 1.85185%;
    width: 133.89831%;
    float: left;
    margin-right: 1.69492%;
    background: #fff;
    height: 65vh;
    -moz-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 4px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 4px; }
    /* line 40, ../components/sass/base/_mixins.scss */
    aside .sidebar-inner:before, aside .sidebar-inner:after {
      content: " ";
      display: table; }
    /* line 41, ../components/sass/base/_mixins.scss */
    aside .sidebar-inner:after {
      clear: both; }
  @media (min-width: 48em) {
    /* line 5, ../components/sass/layout/_sidebar.scss */
    aside {
      position: fixed;
      left: 0;
      right: 0;
      top: 3.1em;
      background: none; }
      /* line 23, ../components/sass/layout/_sidebar.scss */
      aside .sidebar-inner {
        width: 40.67797%;
        float: right;
        margin-right: 0;
        height: 45vh;
        margin-top: 1.69492%; } }
  @media (min-width: 64em) {
    /* line 5, ../components/sass/layout/_sidebar.scss */
    aside {
      max-width: 1004px;
      max-width: 62.75rem;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
      aside:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1320px) {
    /* line 5, ../components/sass/layout/_sidebar.scss */
    aside {
      max-width: 1300px;
      max-width: 81.25rem;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
      aside:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1720px) {
    /* line 5, ../components/sass/layout/_sidebar.scss */
    aside {
      max-width: 1700px;
      max-width: 106.25rem;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
      aside:after {
        content: " ";
        display: block;
        clear: both; } }

/*
    pesticide v0.1.0 . @mrmrs . MIT
*/
