// ============================================================================
//  Buttons
// ============================================================================

button {
	@include adjust-font-size-to($font-size-regular);
	font-family: $font-primary !important;
	font-weight: $font-weight-semibold;
	cursor: pointer;
	background-color: $color-button;
	color: $color-text-invert;
	border: 0 !important;
	@include border-radius(4px);
	padding: 10px 15px;
	@include transition(background-color 0.4s ease);
	
	@include vendor(user-select, none);
	
	&:hover {
		background-color: $color-button-hover;
		@include transition(background-color 0.4s ease);
	}
	&:focus {
		outline: none;
	}
	&:active {}

	&.btn--disabled {
		background-color: $color-button-disabled;
		cursor: not-allowed;
		pointer-evetns: none;
		&:hover{
			background-color: $color-button-disabled;
		}
	}
	&.btn--xs {
		padding: 1px 5px;
		@include adjust-font-size-to($font-size-small);
		@include border-radius(3px);
	}
	&.btn--sm {
		padding: 6px 9px;
		@include adjust-font-size-to($font-size-small);
		@include border-radius(4px);
	}
	&.btn--lg {
		padding: 18px 27px;
		@include adjust-font-size-to($font-size-large);
		@include border-radius(6px);
	}
	&.btn--full {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		@include adjust-font-size-to($font-size-large);
		@include border-radius(6px);
		padding: 18px 27px;
	}
}

.btn--group {
	display: inline-block;
	button:first-child {
	 @include border-left-radius(4px);
	}
	button {
		@include border-radius(0);
		float:left;
	}
	button:last-child {
	 @include border-right-radius(4px);
	};
}