// ============================================================================
//  Headings
// ============================================================================

// h1 ... h6
#{headings()} {
	font-family: $font-primary;
	font-weight: $font-weight-normal;
	color: $color-text-heading;
}

h1 {
	@include adjust-font-size-to($font-size-xxx-large);
	// margin-bottom: .4em;
	&.section {
		@include adjust-font-size-to($font-size-xxx-large);
		font-weight: $font-weight-semibold;
		color: $color-accent;
		border-bottom: 1px solid $color-shadow;
		@include breakpoint($tablet-large){
			@include adjust-font-size-to($font-size-xxxx-large);
			border-bottom: none;
		}
	}
}
h2 {
	@include adjust-font-size-to($font-size-xx-large);
}
h3 {
	@include adjust-font-size-to($font-size-x-large);

}
h4 {
	@include adjust-font-size-to($font-size-large);

}
h5 {
	@include adjust-font-size-to($font-size-regular);

}
h6 {
	@include adjust-font-size-to($font-size-small);
}

.lead {}

// breakpoints