a {
	color: $color-text-link;
	text-decoration: none;

	&:hover {
		color: $color-text-link-hover;
	}
	&:visited {
		color: $color-text-link-visited;
	}
}

// .cta--primary {
//   @include style-cta($colorBlue, $icon-chevron-right);
// }

// .cta--secondary {
//   @include style-cta($colorBlue);
// }