// ============================================================================
//  Paragraphs
// ============================================================================

p {
	@include adjust-font-size-to($font-size-default);
	font-weight: $font-weight-light;
	color: $color-text;
    margin: 0 0 10.5px;
}

pre {
	
}

small {
	@include adjust-font-size-to($font-size-small);
}

em, i, cite, q {
    font-style: italic;
}

strong, b {
    font-weight: $font-weight-semibold;
}

q {
    font-style: italic;
}

.blockquote,
blockquote {
    border-left: 5px solid $color-blockquote-border;
    padding: 10.5px 21px;
    small {
    	color: lighten($color-text, 25);
    	&:before{
    		content: '\2014 \00A0';
    	}
    }
}

.blockquote--right {
	border-left: 0;
    border-right: 5px solid $color-blockquote-border;
    padding: 10.5 15px;
    // padding-left: 0;
    text-align: right;
    small {
    	&:before {
			content: '';
    	}
    	&:after {
			content: '\00A0 \2014';
		}
    }
}

hr {
    
}

abbr {
	border-bottom: 1px dotted $color-abbr-border;
}
