// ============================================================================
//  Links
// ============================================================================

a {
  text-decoration: none;

  &:hover,
  &:active {
    outline: 0;
    text-decoration: underline;
  }
}
