// ============================================================================
//  Links
// ============================================================================

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }

  &:visited {
    color: $black;
  }
}
