// ============================================================================
//  Lists
// ============================================================================

// Remove extra vertical space on nesting lists
li {
  height: 100%;
  margin: 0;
  padding: 0;

  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// scss-lint:disable DuplicateProperty
// Left indentation hack
ul,
ol,
dd {
  margin-left: 2 * $spacing-unit-default;
  margin-left: (2 * $spacing-unit-default / $line-height-default) * 1rem;
}
