// ============================================================================
//  Header
// ============================================================================

header {
  	background: $hopbush;
  	text-align: center;
  	overflow: hidden;
  	padding: 2rem 0;
  	margin-bottom: gutter(6);
  	border-bottom: .5em solid darken($bouquet, 5%);
	
	.title {
		color: $white;
		@include adjust-font-size-to($font-size-xxxx-large);
  		font-weight: $font-weight-bold;
		text-shadow: long-shadow(
			$direction: 42deg, 
			$length: 220px, 
			$color: darken($bouquet, 5),
			$fade: darken($bouquet, 5)
		);
		@include breakpoint($tablet-large){
			@include adjust-font-size-to($font-size-xxxxx-large);
		}
	}
}
