@import "susy";
@import "breakpoint";

$susy: (
    flow: $grid-flow,
    math: $grid-math,
    output: $grid-output,
    gutter-position: $grid-gutter-position,
    container: $grid-container,
    container-position: $grid-container-position,
    columns: $grid-columns,
    gutters: $grid-gutters,
    column-width: $grid-column-width,
    global-box-sizing: $grid-global-box-sizing,
    last-flow: $grid-last-flow,
    debug: (
      image: $grid-debug-image,
      color: $grid-debug-color,
      output: $grid-debug-output,
      toggle: $grid-debug-toggle,
    ),
    use-custom: (
      background-image: $grid-use-custom-background-image,
      background-options: $grid-use-custom-background-options,
      box-sizing: $grid-use-custom-box-sizing,
      clearfix: $grid-use-custom-clearfix,
      rem: $grid-use-custom-rem,
    )
);

.wrap {
  @include container();
}