// Retina images
// http://chrisltd.com/blog/2013/05/retina-images-sass/

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}



// RGBA Fallback
// http://thesassway.com/intermediate/mixins-for-semi-transparent-colors

@mixin rgba-bg($color, $percent) {
  background: $color;
  background: rgba($color, $percent);
}

// Clearfix

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// @mixin clearfix {
//   *zoom:1;
//   &:before, &:after { content: " "; display: table; }
//   &:after { clear: both; }
// }

// vertical center

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin hidden {
  display: none !important;
  visibility: hidden;
}

@mixin visible {
  display: block !important;
  visibility: visible;
}

@mixin invisible {
  visibility: hidden;
}
