// Susy Grid
// http://susydocs.oddbird.net/en/latest/
// ==============

$grid-columns: 16;
$grid-gutters: 1/4;
$grid-box-sizing: border-box;
$grid-debug-image: hide; // show | hide | show-columns | show-baseline
$grid-debug-output: background; //background | overlay
$grid-debug-toogle: top right;
$grid-debug-color: rgba(#66f, .25);


// Pesticide
// https://github.com/mrmrs/pesticide
// ==============

$pesticide-debug-outline: false;
$pesticide-debug-depth: false;


// Breakpoints
// http://sass-lang.com/styleguide/layout
// ==============

$mobile-small: 240px;
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;
$screen-large: 1280px;
$screen-x-large: 1320px;
$screen-xx-large: 1720px;


// Colors
// http://sass-lang.com/styleguide/color
// ==============

// Descriptive color
$black: #000;
$white: #fff;
$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$nebula: #d2e1dd;
$white: #fff;
$dawn-pink: #f2ece4;
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;

// Main
$color-shadow: rgba($black, .125);
$color-primary: $hopbush;
$color-accent: $patina;

// Common
$color-background: $white;
$color-background-shade: $iron;
$color-background-invert: $hopbush;
$color-text: darken($pale-sky, 15);
$color-text-weak: $regent-grey;
$color-text-strong: $midnight-blue;
$color-text-heading: $regent-grey;
$color-text-invert: rgba($color-background, .75);
$color-text-strong-invert: $color-background;
$color-border: $iron;

// Links
$color-text-link:	$color-primary;
$color-text-link-visited:	$bouquet;
$color-text-link-hover:	$midnight-blue;


// Fonts
// ==============

$fonts-url: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900';
$font-primary: 'Source Sans Pro', sans-serif;

// Size
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;

// Weight
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-ultrabold: 900;

$font-size-default: $font-size-regular;
$line-height-default: 24px;


// z-index
// http://www.sitepoint.com/better-solution-managing-z-index-sass/
// ==============

$zindex: (
  modal                       : 9000,
  overlay                     : 8000,
  dropdown                    : 7000,
  header                      : 6000,
  footer                      : 5000
);